IInteractive.WebTest/Configuration/browser.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="browserConfigGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="browserConfig" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="maximumAutomaticRedirections" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="allowAutoRedirect" type="xs:boolean" use="optional" />
            <xs:attribute name="userAgent" type="xs:string" use="optional" />
            <xs:attribute name="accept" type="xs:string" use="optional" />
            <xs:attribute name="acceptCharset" type="xs:string" use="optional" />
            <xs:attribute name="acceptLanguage" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>